:root{
    --main:#0e0701;
    --first: darkmagenta;
    --white-c: #fff;
}
.media{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 7px 0;
    background-color:var(--first);
    position: relative;
    border-radius: 10px;
    transition: background-color 0.4s;

}
.media:hover{
    background-color: transparent;
    color: var(--white-c);
    box-shadow: 0.5px 0.5px 16px 1px var(--white-c);
}

.poster{
    border-radius: 5px;
    cursor: pointer;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 7px 0;
}
.type{
    display:flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: capitalize;
}