
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-control{
    width: 100%;
    text-align: center;
}
.search-bar{
    width: 30%;
    padding: 7px 7px;
    margin: 7px 7px;
    border-radius: 1em;
    border: none;
    
}
.search-bar:focus{
    box-shadow: 1px 1px 18px 1px #fff;
}
@media (max-width:960px) {
    .form-control{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .search-bar{
    width: 50%;
    border-radius: 1em;
    border: none;
    }
    .search-btn{
        width: 50%;
    }
}

.search-btn{
    padding: 4px 22px;
    margin: 6px 4px;
    background: transparent ; /*#1b1919  #BF110C  */
    border-radius:1em;
    color: #fff;
    font-size: 18px;
    border:0.1em solid white;
    cursor: pointer;
}
.search-btn:hover{
    box-shadow: 1px 1px 8px 1px #fff;
}
